h1{
    height: 200px;
    width: 200px;
    font-family: cursive;
    font-size: 50px;
    color: fuchsia;
    position: absolute;
    position: absolute;
    top: 30px;
    left: 50px;
}
th,
td{
    border: 1pt solid black; 
    padding: 10px;
    font-family: verdana;
    text-align: left;
    font-weight: 20;
}

.mailBox{
    top:40px;
    left:425px;
    position: relative;
}

.container{
    color: red;
    font-family: Impact;    
}
.tableBody{
    width: 100%;

}

.Row{
    border: 5px solid black;
    display: flex;
    align-content: center;
    width: 100%;
}

